@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Playfair+Display:ital,wght@0,600;1,600&family=Poiret+One&family=Poppins:wght@300;700;900&display=swap');
body{
  background-color: #0B0B0B;
}
h2{
  color: #ffffff;
  font-family: "Poppins",sans-serif;
  font-size: 4vh;

}
p{
  font-family: "poppins", sans-serif;
  font-size: 300;
}
.wallpaper{
  position: fixed;
  height: 100%;
  object-fit: contain;
  z-index: 0;
  top: 0;
  opacity:.7;
  filter:alpha(opacity=50);
  margin: 0 auto;
}
.login{
  
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  width: 400px;
  height: 60vh;
  margin: 10% auto;
  align-items: center;
  overflow: auto;
}
.login h1{
  font-family: "poppins";
  color:#f72c6ce7;
  font-size: 5vh;
}
.login input{
  width: 60%;
  height: 3vh;
  border-radius: 7px;
  border: solid;
  /* background-color: #DCDCDC; */
  border-color:#c4c4c47a;
  background-color: #ffffff7a;
  padding: 5px 10px;
  font-size: 2vh;
  }
.login button{
  width: 67%;
  height: 7%;
  border-radius: 7px;
  border: none;
  color:#DCDCDC;
  background: rgb(174,61,201);
  background: linear-gradient(228deg, rgba(174,61,201,1) 0%, rgba(244,104,175,1) 79%, rgba(252,158,122,1) 100%);
  font-size: 2vh;
}
.login button:hover{
  cursor: pointer;

}
.login span{
  margin-top: 7vh;
  font-family: "poppins",sans-serif;
  width: 70%;
  font-size: 2vh;
}
.login a{
  text-decoration: none;
  color: #f0004c;
}
.navBar{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  
}
.navBar .logo {
 margin-right: auto;
 padding-top: 0;
}

.navBar .navLinks ul{
  display: flex;
  margin-right: 20px;
  margin-top: 10px;
}
.navBar .navLinks ul li{
  list-style: none;
  
}
.navBar .navLinks ul li a{
  text-decoration: none;
  margin-left: 20px;
  color: #DCDCDC;
  font-family: "Poppins",sans-serif;
  font-weight: 300;
  
}
.searchBox{
  display: flex;
  height: 20%;
  margin: 10px;
}
.searchBox input{
  marker-start: 0;
}
.searchBox svg{
  color: #fe0a58;
  font-size: 1rem;
 
}
.biSearch{
  margin-top: 5px;
  margin-left: 10px;
}

.container{
  width: 95%;
  height: fit-content;
  overflow-y: hidden;
  overflow-x: scroll;
  /* height: 60vh; */
  margin: 0 auto;
  
}
.container::-webkit-scrollbar{
  display: none;
}
.card img{
  border-radius: 5%;
  height: 30vh;
}
.card{
  /* height: 60vh; */
  transition: transform 250ms;
  
}
.card:hover{
  transform: scale(1.08);
  opacity: 1;
}

.moviePage ul{
  display: flex;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 0;
}
.moviePage ul li{
  list-style: none;
  margin: 0 1vw;
}

.tvShowsPage ul{
  display: flex;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 0;
}
.tvShowsPage ul li{
  list-style: none;
  margin: 0 1vw;
}
.modalPoster{
  z-index: 1;
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  border-radius: 20px;
  
  
  
  /* transform: translateY(-200px); */

}
.modalPoster img{
  /* position: relative; */
  width: 100%;
  
  height:  auto;
  margin: 0 auto;
  
  /* transform: translateY(-200px); */

}

.modalContentContainer{
  display: flex;
  justify-content:flex-end;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  top:0;
  bottom: 0;
  padding: 5% 0;
  width: 100%;
  color:#ededed;
  background: rgb(38,38,38);
background: linear-gradient(186deg, rgba(38,38,38,0.4290091036414566) 0%, rgba(47,47,47,1) 100%);
  
  
  
}
.modalContentContainer h1{
  font-family: "poppin",sans-serif;
  font-size: 4vw;
  word-wrap: break-word;
  white-space: normal;
  /* margin: 100px 0 20px 0; */
  bottom: 20px;
  text-shadow: .5px .5px #2f2f2f;
  margin: 10% auto;
}
.modalContentContainer p{
  word-wrap: break-word;
  white-space: normal;
  /* text-align: right; */
  font-size: 1vw;
  text-shadow: .5px .5px #2f2f2f;
  margin: 20px 0 10px 0;
 }

.modalPosterContent{
  width: 50%;
  margin: 0 10%;

  
}
.modalPosterContent svg{
  color: #fe0a58;
  text-shadow: .5px .5px #6f0024;
  margin-right: 10px;
  font-size: 1vw;
  
}
.modalPosterContent span{
  font-family: "poppins",sans-serif;
  font-size:1vw;
  margin-right: 10px;
  text-shadow: .5px .5px #2f2f2f;
  
}
.modalPosterContent button{
  background-color:transparent;
	border-radius:20px;
	border:1.5px solid #DCDCDC;
	display:inline-block;
	cursor:pointer;
	font-family: "poppins",san-serif;
	font-size:10px;
	/* width: fit-content; */
  
  height: 5vh;
  color: #DCDCDC;
	text-decoration:none;
  padding: auto 10px;
}

.logout{
  color: #fe0a58;
  font-family: "poppins",sans-serif;
  font-weight: 700;
  margin: 10px 3px;
  cursor: pointer;
}
.errorH1{
  font-family: "poppins",san-serif;
  color: white;
}

@media( max-width:425px){
  .login{
    width: 300px;
    margin: 30% auto;
  }
  .modalPoster{
    height: 40vh;
    margin: 30% auto;
  }
  .modalPosterContent button{
    height: 2vh;
    font-size: 1vh;

  }
  .modalPosterContent span, .modalPosterContent svg,.modalPosterContent p{
  font-size: 1vh;
  }
  .modalPosterContent h1{
    font-size: 2.5vh;
  }
}

@media( min-width:768px){
  .modalPoster{
    height: 60vh;
  }

  .modalPosterContent button{
    height: 4vh;
    font-size: 2vh;

  }
  .modalPosterContent span, .modalPosterContent svg,.modalPosterContent p{
  font-size: 2vh;
  }
  .modalPosterContent h1{
    font-size: 3.5vh;
  }
  
}